DATABASE_URL=
EMAIL_FROM=
GEMINI_API_KEY=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
NODE_ENV=development
PORT=3000
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_SERVER=
POSTGRES_USER=
RESEND_API_KEY=
SECRET_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
SYNC_DATABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=